---
/*!
 * File of ManyToOne Community
 * Licensed under the GPL-3.0 or later License: https://github.com/mtocommunity/landing-page/blob/master/LICENSE.md
 */

import "./style.css";

type Props = {
  images: string[];
};

const { images } = Astro.props;
---

<ul class="image-scroll overflow-x-hidden w-full flex flex-col">
  <div class="w-1/3 lg:w-1/4 aspect-[4/3] -z-30"></div>
  {
    images.map((image, index) => (
      <li style={`--i:${index + 1}`}>
        <img src={image} alt={`image-${index}`} />
      </li>
    ))
  }
</ul>
