---
import "./styles.css";

type Props = {
  title: string;
  className?: string;
  color: "red" | string;
};

const { title, color, className } = Astro.props;
---

<span class={`${className} text-border-${color}`}>{title}</span>
