---
import LeaderCard from "../../components/landing/molecule/leader_card";
import Layout from "../../layouts/landing/index.astro";
---

<Layout title="MTO Staff">
  <div class="bg-gradient-to-t from-mto_red to-mto_dark_gray">
    <main class="min-h-screen py-10 lg:py-16 text-white text-center">
      <h2 class="text-3xl md:text-3xl lg:text-5xl font-bold mb-6">
        Nuestro equipo
      </h2>
      <p class="max-w-sm sm:max-w-3xl lg:max-w-4xl mx-auto text-lg mb-10 py-3">
        Nuestra comunidad está dirigida por un grupo de estudiantes
        comprometidos con el crecimiento y el aprendizaje colectivo. Cada uno
        aporta su experiencia y pasión en distintas áreas tecnológicas,
        asegurando que cada miembro tenga una experiencia de aprendizaje
        enriquecedora.
      </p>

      <!-- Community leaders -->
      <section class="py-0 text-white text-center">
        <p
          class="font-main_sans text-2xl mb-10 md:text-2xl lg:text-3xl lg:mb-10 lg:p-8"
        >
          Líderes de la Comunidad
        </p>
        <div
          class="flex flex-wrap justify-center gap-8 px-8 justify-items-center lg:gap-x-16 mb-10"
        >
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-jorge-contreras-delgado.jpg"
            name="Jorge Contreras"
            role="Líder de la Comunidad"
            link="https://linktr.ee/jorgecode"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-luis-bazan-rios.jpg"
            name="Luis Bazán"
            role="Líder de la Comunidad"
            link="https://github.com/luisBazanDev"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-nn.jpg"
            name="Junior Delgado"
            role="Líder de la Comunidad"
            link="https://github.com/aarondfv"
          />
        </div>

        <!-- Teams leaders -->
        <p
          class="text-xl md:text-2xl lg:text-3xl p-8 lg:gap-16 mb-6 font-main_sans"
        >
          Líderes de Equipos
        </p>
        <div
          class="lg:py-6 flex flex-wrap gap-y-8 gap-x-16 px-8 justify-items-center justify-center lg:gap-x-16 xl:gap-x-32"
        >
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-juan-romero.jpg"
            name="Juan Romero"
            role="Líder del Dev-Team"
            link="https://linktr.ee/IngSystemCix"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-victor-tunoque.png"
            name="Víctor Tuñoque"
            role="Líder del Dev-Team"
            link="http://linkedin.com/in/víctor-vladimir-tuñoque-morante-6a89072a2"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-abner-cubas-parra.jpg"
            name="Abner Cubas"
            role="Líder del Net-Team"
            link="http://www.linkedin.com/in/abner-cubas-parra-176a7329a"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-briggitte-martinez-vidaurre.jpg"
            name="Briggitte Martinez"
            role="Líder del Net-Team"
            link="http://www.linkedin.com/in/briggitte-martinez-isi"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-nn.jpg"
            name="Diego Bazán"
            role="Líder del OS-Team"
            link="/staff"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-nn.jpg"
            name="Junior Delgado"
            role="Líder del Security-Team"
            link="/staff"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-eliana-cajusol.jpg"
            name="Eliana Cajusol"
            role="Líder del IoT-Team"
            link="https://www.linkedin.com/in/eliana-cajusol-acosta-b64a3027b"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-nn.jpg"
            name="Jaime López"
            role="Líder del IoT-Team"
            link="/staff"
          />
        </div>

        <!-- Teams leaders -->
        <p
          class="text-xl md:text-2xl lg:text-3xl p-8 lg:gap-16 mb-6 font-main_sans"
        >
          Social Media Team
        </p>
        <div
          class="lg:py-6 flex flex-wrap gap-y-8 gap-x-16 px-8 justify-items-center justify-center lg:gap-x-32 xl:gap-x-32"
        >
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-matamitas.jpg"
            name="Cristhoper Cueva"
            role="Líder & Editor"
            link="https://www.instagram.com/matamitas25/"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-eliana-cajusol.jpg"
            name="Eliana Cajusol"
            role="Guionistas & Realización"
            link="https://www.instagram.com/naomi_cajusol/"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-briggitte-martinez-vidaurre.jpg"
            name="Briggitte Martinez"
            role="Imagen y Voz"
            link="https://www.instagram.com/briggittemar_v"
          />
          <LeaderCard
            photo="https://cdn.mtocommunity.com/staff-nn.jpg"
            name="Moisés Ruiz"
            role="CM de X"
            link="/staff"
          />
        </div>
      </section>
    </main>
  </div>
</Layout>
