---
import Card from "../../../general/molecule/card";
---

<div
  class="grid grid-cols-3 gap-8 bg-gradient-to-b from-mto_gray to-mto_dark_gray min-h-screen"
>
  <Card title="wa" dateTime={new Date()} description="wa" image="" />
  <Card
    title="Starship S23 static fire test"
    dateTime={new Date()}
    description="SpaceX's Starship S23 static fire test. The test was conducted at the SpaceX Boca Chica facility in Texas. The Starship S23 is a prototype of the Starship spacecraft, which is designed to carry humans to Mars and beyond."
    image="https://wp.technologyreview.com/wp-content/uploads/2021/12/48953946911_7dae1036a2_o.jpg"
    link="/events/starship-s23-static-fire-test"
  />
  <Card title="wa" dateTime={new Date()} description="wa" image="" />
  <Card title="wa" description="wa" />
</div>
