---
import { faNetworkWired } from "@fortawesome/free-solid-svg-icons";
import Layout from "../../layouts/team/index.astro";
import { TeamLayout } from "../../types";

const teamProps: TeamLayout = {
  name: "Net-Team",
  teamIcon: faNetworkWired,
  description: `Somos un equipo apasionado por el mundo de las redes y la comunicación de
      datos. Exploramos, diseñamos y gestionamos redes que potencian la
      colaboración y el aprendizaje dentro de nuestra comunidad. Únete a
      nosotros y ayuda a construir la infraestructura que conecta nuestro
      futuro.`,
  projects: [],
  events: [
    {
      date: new Date("2024-11-29T05:00:00Z"),
      name: "Expoferia 2024",
      description:
        'En este evento organizado por UTP Chiclayo en colaboración con MTO Community presentamos junto al <a class="link" href="/team/security">Sec-Team</a> una demostración de ataques de red.',
      link: "/event/expoferia-2024",
      imageUrl:
        "https://cdn.mtocommunity.com/events/expoferia-2024/logo-expoferia.jpg",
    },
    {
      date: new Date("2024-10-23T05:00:00Z"),
      name: "Armado de cables Ethernet con conectores RJ45",
      description:
        "Conecta el futuro aprendiendo preparar e instalar cables Ethernet con conectores RJ45.",
      link: "/event/net-seminario-redes-cableadas",
      imageUrl: "https://cdn.mtocommunity.com/landing-net-team.webp",
    },
  ],
  leaders: [
    {
      imageUrl:
        "https://cdn.mtocommunity.com/staff-briggitte-martinez-vidaurre.jpg",
      name: "Briggitte Martinez",
      role: "Líder de Net-Team",
      link: "http://www.linkedin.com/in/briggitte-martinez-isi",
    },
    {
      imageUrl: "https://cdn.mtocommunity.com/staff-abner-cubas-parra.jpg",
      name: "Abner Cubas",
      role: "Líder de Net-Team",
      link: "http://www.linkedin.com/in/abner-cubas-parra-176a7329a",
    },
  ],
};
---

<Layout team={teamProps} />
