---
import { faRedhat } from "@fortawesome/free-brands-svg-icons";
import Layout from "../../layouts/team/index.astro";
import { TeamLayout } from "../../types";

const teamProps: TeamLayout = {
  name: "Security-Team",
  teamIcon: faRedhat,
  description: `Sumérgete en el apasionante mundo de la ciberseguridad. Aquí, convertirás tu interés por la seguridad informática en habilidades prácticas a través de proyectos de hacking ético y competencias desafiantes. Únete a nosotros y forma parte de una comunidad que trabaja por un mundo digital más seguro.`,
  projects: [],
  events: [
    {
      date: new Date("2024-11-29T05:00:00Z"),
      name: "Expoferia 2024",
      description:
        'En este evento organizado por UTP Chiclayo en colaboración con MTO Community presentamos junto al <a class="link" href="/team/net">Net-Team</a> una demostración de ataques de red.',
      link: "/event/expoferia-2024",
      imageUrl:
        "https://cdn.mtocommunity.com/events/expoferia-2024/logo-expoferia.jpg",
    },
  ],
  leaders: [
    {
      imageUrl: "https://cdn.mtocommunity.com/staff-junior-delgado-flores.jpg",
      name: "Junior Delgado",
      role: "Líder de Security-Team",
      link: "https://github.com/aarondfv",
    },
  ],
};
---

<Layout team={teamProps} />
