---
/*!
 * File of ManyToOne Community
 * Licensed under the GPL-3.0 or later License: https://github.com/mtocommunity/landing-page/blob/master/LICENSE.md
 */

import { ReactComponent as Github } from "@assets/icons/github.svg";
import { ReactComponent as Linkedin } from "@assets/icons/linkedin.svg";
import { ReactComponent as Instagram } from "@assets/icons/instagram.svg";
import { ReactComponent as Link } from "@assets/icons/link.svg";

type Props = {
  link: string;
};

const { link } = Astro.props as Props;

const keywords = {
  github: ["github.com", "github.io"],
  linkedin: ["linkedin.com", "www.linkedin.com"],
  instagram: ["instagram.com", "www.instagram.com"],
};

const domain = link.split("/")[2];
---

<a
  href={link}
  target="_blank"
  class="text-white bg-mto_gray rounded-full p-2 aspect-square flex items-center justify-center"
>
  {keywords.github.includes(domain) ? <Github class="w-5 fill-white" /> : null}
  {
    keywords.linkedin.includes(domain) ? (
      <Linkedin class="w-5 fill-white" />
    ) : null
  }
  {
    keywords.instagram.includes(domain) ? (
      <Instagram class="w-5 fill-white" />
    ) : null
  }
  {
    [...keywords.github, ...keywords.instagram, ...keywords.linkedin].includes(
      domain
    ) ? null : (
      <Link class="w-5 fill-white" />
    )
  }
</a>
