---
import { ReactComponent as Github } from "@assets/icons/github.svg";
import { ReactComponent as Linkedin } from "@assets/icons/linkedin.svg";
import { ReactComponent as Instagram } from "@assets/icons/instagram.svg";
import { ReactComponent as Link } from "@assets/icons/link.svg";
import React from "react";

type Props = {
  link: string;
};

const { link } = Astro.props as Props;

const icons = {
  "github.com": Github,
  "www.linkedin.com": Linkedin,
  "instagram.com": Instagram,
};

function Icon({
  link,
}: {
  link: string;
}): React.FunctionComponent<{ link: string }> {
  const domain = link.split("/")[2];

  if (Object.keys(icons).indexOf(domain) !== -1) {
    return icons[domain as keyof typeof icons] as React.FunctionComponent;
  }

  return Link as React.FunctionComponent;
}
---

<a
  href={link}
  target="_blank"
  class="text-white bg-mto_gray rounded-full p-2 aspect-square flex items-center justify-center"
>
  <Icon link={link} />
</a>
