---
import type { IconDefinition } from "@fortawesome/free-brands-svg-icons";
import Footer from "../../components/general/organism/footer";
import NavBar from "../../components/general/organism/navbar";

interface Props {
  teamName: string;
  teamIcon: IconDefinition;
}

const { teamName, teamIcon } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/font/fonts.css" />
    <title>{teamName} - MTO Community</title>
    <!-- Basic meta -->
    <meta
      name="description"
      content="La nueva comunidad tecnológica de Ingeniería de Sistemas de la UTP Chiclayo"
    />
    <meta name="author" content="ManyToOne Community" />
    <meta
      name="keywords"
      content="ManyToOne, UTP, Chiclayo, Ingeniería de Sistemas"
    />
    <meta name="generator" content={Astro.generator} />
    <!-- Twitter meta -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://mtocommunity.com/" />
    <meta name="twitter:title" content={teamName} />
    <meta
      name="twitter:description"
      content="La nueva comunidad tecnológica de Ingeniería de Sistemas de la UTP Chiclayo"
    />
    <meta name="twitter:image" content="/android-chrome-512x512.png" />
  </head>
  <body class="bg-mto_dark_gray w-full">
    <div class="w-auto overflow-x-hidden">
      <NavBar client:load />
      <slot />
      <Footer />
    </div>
  </body>
</html>
