---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import Button from "../../../general/attoms/button";
import { ButtonType } from "../../../general/attoms/button/types";
import Social from "../../../general/molecule/social";
import TeamsCloud from "../../molecule/teams_cloud";

import "./style.css";
import { faDiscord } from "@fortawesome/free-brands-svg-icons";
---

<div
  class="flex flex-col w-full min-h-[calc(100dvh-3.5rem)] pb-14 pt-10 lg:pt-36 lg:justify-between 2xl:pt-[17rem]"
  id="home"
>
  <div
    class="flex flex-col items-center justify-center text-white gap-4 lg:gap-6"
  >
    <h1 class="text-4xl text-center font-bold lg:text-6xl font-main_sans">
      MANY TO ONE
    </h1>
    <p class="2xl:text-lg font-lora text-center">
      La <span class="text-mto_red font-bold xl:text-xl font-lora">NUEVA</span>
      comunidad tecnológica<br />de Ingeniería de Sistemas de la UTP Chiclayo.
    </p>
    <Button
      type={ButtonType.PRIMARY}
      link="https://discord.mtocommunity.com/"
      className="mt-4"
    >
      Únete ahora
    </Button>
    <Button type={ButtonType.SECONDARY} link="#about-us" className="mt-4">
      Más información
    </Button>
    <div class="mt-8">
      <Social />
    </div>
  </div>
</div>
