---
import Button from "../../../general/attoms/button";
import { ButtonType } from "../../../general/attoms/button/types";
import Social from "../../../general/molecule/social";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faArrowRight } from "@fortawesome/free-solid-svg-icons";
import { faDiscord } from "@fortawesome/free-brands-svg-icons";
import "./style.css";
---

<div
  class="flex flex-col w-full min-h-svh items-center justify-center"
  id="home"
>
  <div class="absolute top-0 opacity-25 -z-20 bg-grid-container">
    <div class="bg-grid"></div>
  </div>
  <div
    class="flex flex-col items-center justify-center text-white gap-6 lg:gap-8 lg:space-y-4 xl:space-y-10"
  >
    <h1 class="text-4xl text-center font-bold lg:text-6xl font-main_sans">
      MANY TO ONE
    </h1>
    <p class="font-lora text-center w-full text-xl lg:text-2xl">
      Construyendo un futuro tecnológico<br />desde Perú para el mundo <span
        class="text-mto_red xl:text-2xl font-bold">¿Di?</span
      >
      <div class="flex flex-col gap-4 xl:flex-row xl:gap-6 mt-4">
        <Button
          type={ButtonType.PRIMARY}
          link="https://discord.mtocommunity.com/"
          className="flex items-center"
        >
          <FontAwesomeIcon icon={faDiscord} className="mr-2 text-base w-5" />
          ¡Quiero unirme!
        </Button>
        <Button
          type={ButtonType.BORDER_BLUE}
          link="#about-us"
          className="font-semibold text-sm flex items-center"
        >
          Más información
          <FontAwesomeIcon icon={faArrowRight} className="ml-2 text-base w-5" />
        </Button>
      </div>
      <div class="w-3/4 mt-8 xl:w-3/4 lg:w-3/4 lg:mt-10">
        <Social />
      </div>
    </p>
  </div>
</div>
