---
import Button from "../../../general/attoms/button";
import { ButtonType } from "../../../general/attoms/button/types";
import Social from "../../../general/molecule/social";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faArrowRight } from "@fortawesome/free-solid-svg-icons";
import { faDiscord } from "@fortawesome/free-brands-svg-icons";
import "./style.css";
---

<div
  class="flex flex-col w-full min-h-[calc(100dvh-3.5rem)] pb-14 pt-10 lg:pt-36 lg:justify-center 2xl:pt-[17rem] items-center justify-center scroll-mt-14"
  id="home"
>
  <div
    class="flex flex-col items-center justify-center text-white gap-6 lg:gap-8"
  >
    <h1 class="text-4xl text-center font-bold lg:text-6xl font-main_sans">
      MANY TO ONE
    </h1>
    <p class="2xl:text-lg font-lora text-center">
      La <span class="text-mto_red xl:text-xl font-bold">NUEVA</span>
      comunidad tecnológica<br />de Ingeniería de Sistemas de la UTP Chiclayo.
    </p>
    <div class="flex flex-col gap-4 xl:flex-row xl:gap-6 mt-4">
      <Button
        type={ButtonType.PRIMARY}
        link="https://discord.mtocommunity.com/"
      >
        <FontAwesomeIcon icon={faDiscord} className="mr-2 text-base" />
        ¡Quiero unirme!
      </Button>
      <Button
        type={ButtonType.LINK}
        link="#about-us"
        className="font-semibold text-sm"
      >
        Más información
        <FontAwesomeIcon icon={faArrowRight} className="ml-2 text-base" />
      </Button>
    </div>
    <div class="w-3/4 mt-8">
      <Social />
    </div>
  </div>
</div>
