---
/*!
 * File of ManyToOne Community
 * Licensed under the GPL-3.0 or later License: https://github.com/mtocommunity/landing-page/blob/master/LICENSE.md
 */

import { ReactComponent as Instagram } from "@assets/icons/instagram.svg";
import { ReactComponent as Youtube } from "@assets/icons/youtube.svg";
import { ReactComponent as Github } from "@assets/icons/github.svg";
import { ReactComponent as Ffacebook } from "@assets/icons/ffacebook.svg";
import { ReactComponent as XTwitter } from "@assets/icons/xtwitter.svg";
import { ReactComponent as Linkedin } from "@assets/icons/linkedin.svg";
import { ReactComponent as Link } from "@assets/icons/link.svg";

import "./style.css";

type Props = {
  href: string;
  type:
    | "linkedin"
    | "facebook"
    | "github"
    | "instagram"
    | "x"
    | "youtube"
    | "link"
    | string;
  other_tab?: boolean;
};

const { href, type, other_tab = true } = Astro.props;

let Icon = Link;

switch (type) {
  case "facebook":
    Icon = Ffacebook;
    break;

  case "github":
    Icon = Github;
    break;

  case "instagram":
    Icon = Instagram;
    break;

  case "linkedin":
    Icon = Linkedin;
    break;

  case "x":
    Icon = XTwitter;
    break;

  case "youtube":
    Icon = Youtube;
    break;
}
---

<a
  href={href}
  target={other_tab ? "_blank" : "_self"}
  class={`px-2 py-1 flex gap-2 brand-${type} items-center w-min`}
>
  <Icon className="w-4" />
  <span>{type[0].toUpperCase() + type.slice(1).toLowerCase()}</span>
</a>
