---
import { faEnvelope } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
---

<div class="flex flex-col justify-between items-center min-h-dvh bg-gradient-to-b from-mto_dark_gray to bg-mto_blue text-white md:text-lg lg:text-2xl 2xl:4xl" id="contactus">
  <div></div>
  <div class="gap-2">
    <FontAwesomeIcon icon={faEnvelope} />
    <a href="mailto:contact@mtocommunity.com">contact@mtocommunity.com</a>
  </div>
 <div class="h-1 w-full bg-white"></div>
</div>