---
import Layout from "../layouts/landing/index.astro";
import Home from "../components/landing/organism/home/index.astro";
import "../styles.css";
---

<Layout title="ManyToOne Community">
    <main class="flex w-vw overflow-x-hidden">
        <Home />
    </main>
</Layout>
