---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ManyToOne Community">
  <main class="flex justify-center items-center">
    <h1
      class="text-black hover:text-gray-600 transition-colors text-6xl font-bold"
    >
      MTO community
    </h1>
  </main>
</Layout>
