---
import Layout from "../layouts/Layout.astro";
import Home from "../components/landing/organism/home/index.astro";
---

<Layout title="ManyToOne Community">
  <main class="flex w-vw bg-mto_dark_gray overflow-x-hidden">
    <Home />
  </main>
</Layout>
