---
import Layout from "../layouts/landing/index.astro";
import Home from "../components/landing/organism/home/index.astro";
import AboutUs from "../components/landing/organism/aboutus/index.astro";
import "../styles.css";
---

<Layout title="ManyToOne Community">
  <main class="flex flex-col w-vw overflow-x-hidden">
    <Home />
    <AboutUs />
  </main>
</Layout>
