---
import Layout from "../layouts/landing/index.astro";
import Home from "../components/landing/organism/home/index.astro";
import AboutUs from "../components/landing/organism/aboutus/index.astro";
import TeamsDisplay from "../components/landing/organism/teams_display";
import ContactUs from "../components/landing/organism/contact_us/index.astro";

import "../styles.css";
---

<Layout title="ManyToOne Community">
  <div id="bg-box" class="">
    <div id="bg-gray"></div>
    <div id="bg-blue"></div>
  </div>
  <main class="flex flex-col w-vw overflow-x-hidden">
    <Home />
    <AboutUs />
    <TeamsDisplay client:load />
    <ContactUs />
  </main>
</Layout>
