---
/*!
 * File of ManyToOne Community
 * Licensed under the GPL-3.0 or later License: https://github.com/mtocommunity/landing-page/blob/master/LICENSE.md
 */

import { ButtonType } from "../../../general/attoms/button/types";
import { ReactComponent as Discord } from "@assets/icons/discord.svg";
import Button from "../../../general/attoms/button";

import ImageScroll from "../../../general/molecule/image-scroll/index.astro";
---

<div class="w-full flex flex-col min-h-dvh gap-24 -z-10 lg:z-0" id="about-us">
  <div
    class="flex flex-col h-max gap-14 lg:justify-center lg:flex-row-reverse lg:pt-12 2xl:pt-20 lg:gap-48"
  >
    <div
      class="mt-10 text-white mx-auto z-50 lg:mx-0 lg:w-1/2 2xl:w-1/3 text-center"
    >
      <h2
        class="font-onest text-sm text-light-blue tracking-[0.5em] text-mto_blue"
      >
        NOSOTROS
      </h2>
      <h3
        class="mt-4 font-extrabold font-main_sans text-xl lg:text-2xl 2xl:text-2xl"
      >
        ¿POR QUÉ MANY TO ONE?
      </h3>
      <p
        class="font-lora text-xs mx-10 mt-5 text-pretty lg:text-balance lg:mx-0 lg:text-base text-slate-400"
      >
        En MTO Community, sabemos que crecer es más fácil cuando no lo haces
        solo. Aprendemos juntos, apoyándonos entre muchos para que cada uno de
        nosotros pueda experimentar, romper y dominar temas como desarrollo web,
        robótica y ciberseguridad. Hecha por estudiantes y para estudiantes,
        ¿quién mejor que nosotros para saber lo que necesitamos, no crees? Únete
        y seamos parte del cambio.
      </p>
      <div class="mt-10 flex justify-center">
        <Button
          type={ButtonType.PRIMARY}
          link="https://discord.mtocommunity.com/"
          className="flex items-center"
        >
          <Discord className="mr-2 text-base fill-white w-5" />
          ¡Quiero unirme!
        </Button>
      </div>
    </div>
  </div>
  <div class="w-full items-center px-4">
    <ImageScroll
      images={[
        "https://cdn.mtocommunity.com/hero-about-photos/photo-01.webp",
        "https://cdn.mtocommunity.com/hero-about-photos/photo-02.webp",
        "https://cdn.mtocommunity.com/hero-about-photos/photo-03.webp",
        "https://cdn.mtocommunity.com/hero-about-photos/photo-04.webp",
        "https://cdn.mtocommunity.com/hero-about-photos/photo-05.webp",
        "https://cdn.mtocommunity.com/hero-about-photos/photo-06.webp",
        "https://cdn.mtocommunity.com/hero-about-photos/photo-07.webp",
      ]}
    />
  </div>
</div>
