---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { wave2 } from "../../../../assets/svgs";
import { faUsers } from "@fortawesome/free-solid-svg-icons";
---

<div
  class="w-full flex flex-col bg-gradient-to-b from-mto_dark_gray to-mto_red_dark min-h-[80dvh] justify-between -z-40 lg:min-h-[120dvh]"
  id="about-us"
>
  <div
    class="flex flex-col h-max gap-14 lg:justify-center lg:p-16 lg:flex-row-reverse xl:pt-32 2xl:pt-64 lg:gap-48"
  >
    <div class="mt-10 text-white mx-auto z-50 lg:mx-0 lg:w-1/2 2xl:w-1/3">
      <h2
        class="font-bold text-5xl text-center lg:text-right lg:text-6xl 2xl:text-7xl"
      >
        About Us
      </h2>
      <h3 class="mt-4 text-center text-base lg:text-xl 2xl:text-2xl lg:text-right">
        ¿Por qué <span class="font-bold">Many To One</span>?
      </h3>
      <p
        class="text-xs mx-10 mt-5 text-pretty lg:text-balance lg:text-right lg:mx-0 lg:text-base"
      >
        En MTO Community, sabemos que crecer es más fácil cuando no lo haces
        solo. Aprendemos juntos, apoyándonos entre muchos para que cada uno de
        nosotros pueda experimentar, romper y dominar temas como desarrollo web,
        robótica y ciberseguridad. Hecha por estudiantes y para estudiantes,
        ¿quién mejor que nosotros para saber lo que necesitamos, no crees? Únete
        y seamos parte del cambio.
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center">
      <div class="text-white text-[7rem] lg:text-[8rem] 2xl:text-[10rem]">
        <FontAwesomeIcon icon={faUsers} />
      </div>
      <div class="flex flex-col text-white items-center">
        <span class="font-main_sans lg:text-2xl 2xl:text-4xl font-bold"
          >{"< Many To One />"}</span
        >
        <span class="lg:text-lg 2xl:text-2xl">Community</span>
      </div>
    </div>
  </div>
  <div class="w-full">
    <img src={wave2.src} alt="wave2.svg" />
  </div>
</div>
