.nav-mobile {
  height: 0;
  overflow: hidden;
  top: 0;
  max-height: fit-content;
  @apply pt-0 opacity-0 transition-all;
}

.active {
  height: 100%;
  @apply pb-8 gap-8 pt-14 opacity-100;
}

.nav-desktop {
  @apply h-3/4 text-gray-300;
}

.nav-desktop a {
  @apply px-5 h-full flex items-center transition-colors;
}

.nav-desktop a:hover {
  @apply relative text-white drop-shadow-md shadow-white;
}

.nav-desktop a:hover::before {
  content: "";
  @apply h-[.05rem] w-[calc(100%-2.5rem)] absolute bottom-1 left-[1.25rem];
  background: linear-gradient(to right, transparent, cyan 50%, transparent);
  animation: sliceIn 0.2s ease-in-out;
}

@keyframes sliceIn {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 2.5rem);
  }
}