.team-card-reverse {
  transform: rotateY(180deg);
}

.team-card {
  transition-property: transform;
  transition-duration: 0.3s;
}

.team-card > div {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  left: 2px;
  top: 2px;
}

.team-card .reverse {
  transform: rotateY(180deg);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 1, 0.25, 1);
}

.team-card-reverse .reverse {
  opacity: 1;
}
