---
const cards = [
  {
    id: 1,
    title: "Trivia Técnica",
    description:
      "Pon a prueba tus conocimientos y demuestra tu habilidad resolviendo preguntas sobre temas de Ingeniería de Sistemas en un formato de trivia digital.",
    image:
      "https://cdn.mtocommunity.com/events/thumbnail/iot-seminario-robotica-basica.jpg",
  },
  {
    id: 2,
    title: "Card 2",
    description: "Description for card 2",
    image: "https://cdn.mtocommunity.com/staff-briggitte-martinez-vidaurre.jpg",
  },
];
---

<div class="flex items-center justify-center gap-4">
  <button
    id="prevButton"
    class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
    >Prev</button
  >
  <div
    class="border border-gray-300 rounded-lg p-4 w-80 text-center bg-mto_dark_gray h-96 flex flex-col justify-between"
  >
    <img
      id="cardImage"
      class="w-full h-48 object-cover rounded-lg mb-2"
      src={cards[0].image}
      alt={cards[0].title}
    />
    <h3 id="cardTitle" class="text-xl font-bold mb-2">{cards[0].title}</h3>
    <p id="cardDescription" class="text-gray-700 text-xs">
      {cards[0].description}
    </p>
  </div>
  <button
    id="nextButton"
    class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
    >Next</button
  >
</div>

<script define:vars={{ cards }}>
  let currentIndex = 0;

  const cardTitle = document.getElementById("cardTitle");
  const cardImage = document.getElementById("cardImage");
  const cardDescription = document.getElementById("cardDescription");
  const prevButton = document.getElementById("prevButton");
  const nextButton = document.getElementById("nextButton");

  function updateCard(index) {
    const card = cards[index];
    cardTitle.textContent = card.title;
    cardImage.src = card.image;
    cardImage.alt = card.title;
    cardDescription.textContent = card.description;
  }

  prevButton.addEventListener("click", () => {
    currentIndex = (currentIndex - 1 + cards.length) % cards.length;
    updateCard(currentIndex);
  });

  nextButton.addEventListener("click", () => {
    currentIndex = (currentIndex + 1) % cards.length;
    updateCard(currentIndex);
  });
</script>
