.cloud-icon {
  @apply absolute w-1/2 aspect-square bg-[rgba(255,255,255,0.05)] text-[150%] rounded-full flex justify-center items-center border-white border-dashed border-2 cursor-pointer;
}

.cloud-icon span {
  @apply hidden;
  animation: popUp 0.2s ease-in-out;
}

.cloud-icon:hover {
  @apply bg-[rgba(255,255,255,0.15)];
}

.cloud-icon:hover span {
  @apply flex absolute -top-8 text-sm text-nowrap justify-center;
}

@keyframes popUp {
  0% {
    transform: translateY(100%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
