---
import Layout from "../../layouts/event/index.astro";

const props ={
    title: "IoT Events",
    description: "Eventos de IoT en la comunidad de ManyToOne",
    path:"events/iot-seminario-robotica-basica"
}
---

<Layout {...props}>
    <div class="bg-gradient-to-t from-mto_red to-mto_gray text-white">
        <!-- Principal -->
        <main id="home" class="min-h-screen">

        </main>
         <!-- Agenda -->
        <div id="agenda" class="min-h-screen">

        </div>
        <!-- Ponentes-->
        <div id="ponentes" class="min-h-screen">
            
        </div>
    </div>
</Layout>