---
import {
  faLaptopCode,
  faNetworkWired,
  faRobot,
} from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

import "./style.css";
---

<div
  class="w-full min-h-dvh justify-between flex flex-col gap-10 pt-10 lg:pt-28"
  id="teams"
>
  <div class="text-white w-full flex flex-col items-center gap-2">
    <h3 class="text-mto_blue font-onest tracking-[1rem] text-sm">EQUIPOS</h3>
    <h2 class="font-main_sans font-bold text-xl">CONÉCTATE Y COLABORA</h2>
    <p class="text-slate-400 text-center px-2 font-lora lg:w-1/2">
      Aquí encontrarás diversos grupos que trabajan en proyectos, comparten
      conocimientos y fomentan el aprendizaje colaborativo. Ya seas un experto o
      un principiante, hay un equipo para ti. ¡Explora, conecta y crece junto a
      nosotros!
    </p>
  </div>
  <ul
    class="text-white grid grid-cols-1 gap-10 px-10 lg:grid-cols-3 lg:w-2/3 lg:mx-auto"
  >
    <li
      class="aspect-square bg-gradient-to-tr from-mto_red from-70% to-mto_dark_gray p-1 rounded-xl w-full"
    >
      <div
        class="bg-black flex flex-col items-center justify-center bg-gradient-to-br to-mto_red/10 from-black p-10 h-full rounded-xl"
      >
        <FontAwesomeIcon icon={faLaptopCode} className="w-[5rem] text-[5rem]" />
        <span>DEV-TEAM</span>
      </div>
    </li>
    <li
      class="aspect-square bg-gradient-to-tr from-mto_blue from-70% to-mto_dark_gray p-1 rounded-xl w-full"
    >
      <div
        class="bg-black flex flex-col items-center justify-center bg-gradient-to-br to-mto_blue/10 from-black p-10 h-full rounded-xl"
      >
        <FontAwesomeIcon icon={faRobot} className="w-[5rem] text-[5rem]" />
        <span>IOT-TEAM</span>
      </div>
    </li>
    <li
      class="aspect-square bg-gradient-to-tr from-mto_red from-70% to-mto_dark_gray p-1 rounded-xl w-full"
    >
      <div
        class="bg-black flex flex-col items-center justify-center bg-gradient-to-br to-mto_red/10 from-black p-10 h-full rounded-xl"
      >
        <FontAwesomeIcon
          icon={faNetworkWired}
          className="w-[5rem] text-[5rem]"
        />
        <span>NET-TEAM</span>
      </div>
    </li>
  </ul>
  <div class="w-full flex justify-center py-2">
    <a
      href="/teams"
      class="py-2 border-mto_blue border-[1px] text-white px-14 rounded-xl hover:bg-mto_blue_dark transition-colors hover:bg-opacity-35"
      >Ver más</a
    >
  </div>
</div>
